
#general{ /*( Style de l'arrière plan des requêtes en sql en générale (Mission3))*/
    padding:0 3%;
    background-color: #b1d8cd;
    border-radius:30px;
}

.arr_txt{  /*arrière plan des textes seuls (sans conteneurs ayant un style appliqué (autre que display)) */
    background-color: rgba(177, 216, 205, 0.18);
    padding:20px;
    border-radius:15px;
}

code{
    display:block;
}

.sql{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: row;
    background-color: rgba(195, 197, 197, 0.52);
    padding:10px;
    border-radius:5px;
}

@media (min-width=1200px){
    .sql{
        align-items: center;
    }
}

code{
    display:flex;
}

.sql>span{
    background-color: rgba(96, 95, 95, 0.92);
}

.centre{ /* liste centré */
    display:flex;
    justify-content: center;
    margin:100px;
}
.centre>li{
    margin:40px;
}

@media (min-width=1200px){
    .centre{
        flex-direction: row;
    }
}

.theme{ /* Le titre de chaque thematique */
    display: flex;
    justify-content: center;
    margin: 80px 150px;
    padding: 15px;
    background-color: rgba(177, 216, 205, 0.49);
    border-radius:30px;
    border: 3px solid #000000;
    font-family: Calibri;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: Arial, sans-serif;
}

.tab{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


table{
    margin:30px;
}

caption { /* style des titres */
    caption-side: top;
    font-size: 1.3rem;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(166, 237, 246, 0.81);
    color: #1f3333;

}


th, td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

thead tr>th{
    background-color: #b1d8cd;
}

/* Alternance de couleurs pour les lignes d'un même tableau */
tr:nth-child(odd) {
    background-color: #e6e6cb;
}
tr:nth-child(even) {
    background-color: #d8d8d1;
}

p{
    font-size:1rem;
    font-family: Verdana, Arial, sans-serif;
    text-align: justify;
}

.mini_titre{
    display: flex;
    justify-content: center;
    font-family: Calibri, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: rgba(87, 110, 106, 0.48);
    padding: 10px;
    margin:70px 150px;
    border-radius: 10px;

}

.ctxte{ /* A renommer micro titre */
    display: inline;
    background-color: #6c6a6a;
    padding: 5px;
    color: #ffffff;
    border-radius: 10px;
    margin:50px;
}


.requete{ /* Couleur et style de l'arrière plan des requêtes */
    display: flex;
    flex-direction: column;
    background-color: rgba(67, 207, 111, 0.2);
    justify-content: center;
    border-radius: 40px;
    list-style: upper-roman;
    margin: 30px;
}

.requete ol{
    list-style-type: upper-roman;
    list-style-position: outside;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    margin: 10px;
    font-family: "Calibri", sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

.qbe{ /* Le style des requête en QBE avec les images */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resultat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}


.titleqbe_sql{ /* Le titre des tableaux avec les requêtes QBE, lorsqu'il n'y a qu'un seul tableau, nécessité de séparation car changement de style (media query) */
    display: block;
    justify-content: start;
    font-size: 1.2rem;
    font-family: Verdana, Arial, sans-serif;
    padding: 10px;
    margin: 30px;
    background-color: #6c6a6a;
    color: #ffffff;
    border-radius: 10px;
    text-align:center;
}



.imgqbe{ /* Le style des img QBE */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


article p{
    margin:50px;
}



img{ /* les img en générale */
    border: 5px solid black;
    border-radius: 20px;
    margin: 40px;
    box-shadow: 5px 5px 40px #ccede5;
}

.hr_interprete{
    margin-right:100px;
    margin-left:100px;
}
.p_interpretre{
    margin-right:60px;
    margin-left:60px;
    margin-bottom: 50px;
    text-align: justify;
}

h2{
    font-family: "Calibri", sans-serif;
}

.title{
    margin-top: 50px;
    font-family:sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid black;
    background-color: rgba(185, 231, 250, 0.38);
    color: #3c3c3c;
}

.head_title{
    margin-top: 50px;
    font-family:sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(250, 239, 185, 0.65);
    color: #3c3c3c;
    margin-bottom: 50px;
}

footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height:300px;
    width: 100%;
    background-color: #d6d8d8;
    text-align: center;
}


footer>ul>li{
    display:flex;
    justify-content: center;
    align-content: center;
}

td:hover{
    background-color: #e8afaf;
}

.txtfooter{
    padding: 10px;
    border-radius: 5px;
    font-family: sans-serif;
    border:2px solid black;
    background-color: rgba(222, 241, 235, 0.98);
}

li>a{
    color: #386578;
    text-decoration: none;
    font-size:1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
}
li>a>span{
    background-color: rgba(250, 167, 167, 0.36);
    padding: 10px;
    border-radius: 15px;
}

li>a>span:hover{
    background-color: rgba(99, 253, 118, 0.82);
}

a:hover{
    color: #cf4363;
}

footer{ /*Style du footer */
    border-radius: 15px;
    text-align: start;
}

footer>h2{ /* le style du titre "pied de page" dans le footer */
    display: flex;
    position: absolute;
    left: 40px;
    color: rgba(255, 255, 255, 0.92);
    font-family: sans-serif;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(52, 108, 90, 0.98);
}

figcaption{
    text-align: center;
}

@media (min-width: 1200px){ /* tables en lignes pour grand écrans */
    .tab{
        flex-direction: row;
        justify-content: space-around;
    }
    .qbe{
        flex-direction: row;
    }
    .imgqbe{
        margin: 0;
    }
    figcaption{
        margin:0 30px;


    }
}


@media (min-width: 1200px){
    .resultat{
        flex-direction: row;
    }
    caption {
        display:none;
    }
}

